<div fxLayout="row">
  <div fxFlex="100">
    <md-toolbar color="primary">
      <a routerLink="/">
        <span fxHide fxShow.gt-sm>Angular2 Django | Movies</span>
        <span fxShow fxHide.gt-sm><i class="fa fa-home" aria-hidden="true"></i></span>
      </a>
      <span class="menu-space-filler"></span>
      <span *ngIf="us.user$ | async; else notAuth">
        Hello <button md-button [mdMenuTriggerFor]="menu">{{ (us.user$ | async).username }} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="goToEditProfile()">
            <md-icon><i class="fa fa-pencil-square-o" aria-hidden="true"></i></md-icon>
            <span>Update profile</span>
          </button>
          <button md-menu-item (click)="logout($event)">
            <md-icon><i class="fa fa-sign-out" aria-hidden="true"></i></md-icon>
            <span>Logout</span>
          </button>
        </md-menu>
      </span>
      <ng-template #notAuth>
        <a routerLink="user/register/" class="auth-link">Register</a>
        <a routerLink="user/login/" class="auth-link">Login</a>
      </ng-template>
      <a href="https://github.com/damnko/angular2-django-movies">
        <i class="fa fa-2x fa-github" aria-hidden="true"></i>
      </a>
    </md-toolbar>
  </div>
</div>
