@import '../../../../styles/variables.scss';

.title {
  text-align: center;
  color: map-get($colors, text-on-dark);

  h1 {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }
}

.movie-card {
  font-family: 'Lato', sans-serif;
  margin-bottom: 1em;
  text-align: center;

  .img-wrap {
    cursor: pointer;
    // border "hack" just to make the shadow appear over the image
    border: 2px solid transparent;
    -webkit-box-shadow: inset 0px 0px 0px 4px rgba(#fff, 1);
    -moz-box-shadow: inset 0px 0px 0px 4px rgba(#fff, 1);
    box-shadow: inset 0px 0px 0px 4px rgba(#fff, 1);
  }

  .specs {
    >div {
      text-align: center;
      color: map-get($colors, complementary);

      &:nth-child(2) {
        $border-style: 1px solid #e4e4e4;
        border-left: $border-style;
        border-right: $border-style;
      }
    }
  }

  button.mat-raised-button {
    border: 2px solid map-get($colors, complementary);
    border-radius: 5px;
    color: map-get($colors, complementary);
    font-weight: bold;
  }
}
