<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="70" class="title">
    <h1>Top 20 Movies in Theaters</h1>
    <h3>since {{ moviesSinceDate | date }}</h3>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap" fxLayoutGap="10px">
  <md-card fxFlex="15" class="movie-card"
    *ngFor="let movie of (topMovies$ | async)?.results">
    <loading-spinner *ngIf="movie.detailsLoading" [customStyles]="spinnerStyles"></loading-spinner>
    <div class="img-wrap">
      <img md-card-image [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" (click)="getMovieDetails(movie)">
    </div>
    <md-card-content>
      <h3>{{ movie.title }}</h3>
      <p>{{ movie.overview }}</p>
      <div fxLayout="row" class="specs">
        <div fxFlex="33.333">
          <i class="fa fa-2x fa-comments" aria-hidden="true"></i><br>
          {{ movie.custom_data?.comment_count || 0 }}
        </div>
        <div fxFlex="33.333">
          <i class="fa fa-2x fa-imdb" aria-hidden="true"></i><br>
          {{ movie.vote_average }}
        </div>
        <div fxFlex="33.333">
          <i class="fa fa-2x fa-star" aria-hidden="true"></i><br>
          {{ movie.custom_data?.avg_rating || 0 }}
        </div>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button class="fw" (click)="getMovieDetails(movie)">DETAILS</button>
    </md-card-actions>
  </md-card>
</div>
