.fw {
  width: 100%;
}
.content {
  background-color: #f1f1f1;
  padding: 1em;
}
.comments {
  border-top: 1px solid #e4e4e4;
  margin-top: 2em;

  .comment-item {
    border-bottom: 1px solid #ffffff;

    &:last-child {
      border-bottom: none;
    }
  }

  .comment-datetime {
    color: #888888;
    font-size: .8em;

    i {
      margin-right: .1em;
      margin-left: .5em;
    }
  }

  .remove-comment {
    cursor: pointer;
    margin-left: 2em;
    color: #b16666;
  }

  .no-comments {
    color: #193048;
  }

  /deep/ .my-pagination {
    .ngx-pagination {
      li:not(.disabled) {
        cursor: pointer;
      }
    }
  }
}
