@import '../../../../styles/variables.scss';

.fw {
  width: 100%;
}
.content {
  background-color: map-get($colors, light-);
  padding: 1em;
}
.comments {
  border-top: 1px solid darken(map-get($colors, light-), 10%);
  margin-top: 2em;

  .comment-item {
    border-bottom: 1px solid map-get($colors, text-on-dark);

    &:last-child {
      border-bottom: none;
    }
  }

  .comment-datetime {
    color: darken(map-get($colors, light-), 30%);
    font-size: .8em;

    i {
      margin-right: .1em;
      margin-left: .5em;
    }
  }

  .remove-comment {
    cursor: pointer;
    margin-left: 2em;
    color: map-get($colors, error);
  }

  .no-comments {
    color: map-get($colors, dark);
  }

  /deep/ .my-pagination {
    .ngx-pagination {
      li:not(.disabled) {
        cursor: pointer;
      }
    }
  }
}
