/deep/ .cont {
  text-align: center;
  background-color: #fff;
  padding: 1.5em;
}
/deep/ button[type="submit"] {
  width: 100%;
  background-color: #ded344;
  border: 2px solid #ffffff;
  color: #193048;
  font-weight: bold;
  text-transform: uppercase;
}
