<div fxLayout="row">
  <div fxFlex="70">
    <div [formGroup]="passwords">
      <md-input-container class="fw block" *ngIf="isEdit">
        <input mdInput type="password" placeholder="Old password" formControlName="oldPassword">
      </md-input-container>
      <md-input-container class="fw block">
        <input mdInput type="password" [placeholder]="isEdit ? 'New Password' : 'Password'" formControlName="password">
        <md-error *ngIf="passwords.errors?.passwordMismatch && passwords.controls.password.touched && passwords.controls.passwordConfirm.touched">
          Password must be equal
        </md-error>
      </md-input-container>
      <md-input-container class="fw block">
        <input mdInput type="password" placeholder="Confirm password" formControlName="passwordConfirm">
      </md-input-container>
    </div>
  </div>
  <div fxFlex="30" class="password-hints">
    Password must:
    <ul>
      <li [inputHint]="!passwords.controls.password.errors?.tooShort">
        Be at least 8 chars long
      </li>
      <li [inputHint]="!passwords.controls.password.errors?.noSpecialChars">
        Have at least one special char
      </li>
      <li [inputHint]="!passwords.controls.password.errors?.noCapitalLetter">
        Have at least one capital letter
      </li>
    </ul>
  </div>
</div>
