@import url('https://fonts.googleapis.com/css?family=Lato');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~font-awesome/css/font-awesome.css';

@import './variables.scss';

body {
  background-color: map-get($colors, dark);
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.fw {
  width: 100%;
}

.block {
  display: block;
}

snack-bar-container.error {
  background-color: map-get($colors, error);
}

.alert {
  padding: .5em;
  border-radius: .5em;
  color: map-get($colors, text-on-dark);
  margin-bottom: .7em;

  &.error {
    background-color: map-get($colors, error);
  }
  &.success {
    background-color: map-get($colors, success);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

// preloader
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background: map-get($colors, dark);

  &.loaded {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .2s, opacity .2s linear;
  }

  // spinner source: https://github.com/tobiasahlin/SpinKit
  .spinner {
    // margin: 100px auto 0;
    width: 70px;
    text-align: center;
    width: 70px;
    text-align: center;
    left: 50%;
    top: 50%;
    position: relative;
  }

  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: map-get($colors, vivid);

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
}
