@import url('https://fonts.googleapis.com/css?family=Lato');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~font-awesome/css/font-awesome.css';

@import './variables.scss';

body {
  background-color: #193048;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.fw {
  width: 100%;
}

.block {
  display: block;
}

.red {
  background-color: red !important;
}

.alert {
  padding: .5em;
  border-radius: .5em;
  color: #fff;
  margin-bottom: .7em;

  &.error {
    background-color: #ef6464;
  }
  &.success {
    background-color: #63a95f;
  }
}
