@import url('https://fonts.googleapis.com/css?family=Lato');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~font-awesome/css/font-awesome.css';

@import './variables.scss';

body {
  background-color: map-get($colors, dark);
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.fw {
  width: 100%;
}

.block {
  display: block;
}

.alert {
  padding: .5em;
  border-radius: .5em;
  color: map-get($colors, text-on-dark);
  margin-bottom: .7em;

  &.error {
    background-color: map-get($colors, error);
  }
  &.success {
    background-color: map-get($colors, success);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
