// colors
$colors: (
  dark: #193048,
  dark-:#2c445d,
  text-on-dark: #fff,
  light-tint: #7c8896,
  error: #ef6464,
  success: #63a95f,
  light-: #f1f1f1,
  complementary: #9c6346,
  vivid: #ded344
);
